:root {
  --font-primary: "PT Sans", sans-serif;
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-error: #ff5757;

  --button-text: #ffffff;
  --bg-button-primary: #756157;
  --bg-button-secondary: #82b3d3;
  --bg-button-selected: #7db54f;

  --bg-basic: #ffffff;
  --bg-primary: #82b3d3;
  --bg-secondary-1: rgba(131, 179, 211, 12%);
  --bg-secondary-2: rgba(131, 179, 211, 20%);

  --icon-basic: #000000;
  --icon-secondary: #83b3d3;
  --icon-text: #7db54f;

  --form-inputs: #3f5e72;
  --form-elements-1: #e5e5e5;
  --form-elements-2: #f2f2f2;

  --padding-horizontal: 70px;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* базовые стили */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: 1200px;
  font-family: var(--font-primary);
  color: var(--text-primary);
  background-color: #f2f2f2;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.section-header {
  text-align: center;
  padding: 64px var(--padding-horizontal);
}

.block {
  display: block;
}

/* заголовки */
.title {
  margin-top: 0;
  font-weight: 700;
}

.title--big {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.title--medium {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title--small {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title--small-nonecase {
  font-size: 24px;
  line-height: 28px;
}

.title--smaller {
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-secondary);
}

/* кнопки */
.button {
  min-width: 161px;
  padding: 8px 34px;
  box-sizing: border-box;
  color: var(--button-text);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--bg-button-primary);
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
}

.button:not(:disabled):hover {
  cursor: pointer;
}

.button--secondary {
  background-color: var(--bg-button-secondary);
}

.button--selected {
  background-color: var(--bg-button-selected);
}

.button--reset {
  background-color: transparent;
}

.form {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  /* gap: var(--padding-horizontal); */
}

.form__group {
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
}

.form__legend {
  padding: 0;
}

.form__group:has(.form__legend--price) {
  margin-left: auto;
}

.form__label {
  font-size: 18px;
  line-height: 23px;
}

.form__input {
  border: 0;
  padding: 14px 20px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--form-elements-2);
  color: var(--text-primary);
}

.form__input:not(:disabled):hover {
  cursor: pointer;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 60%);
  opacity: 1;
}

/* шапка сайта */
.header {
  padding: 0 var(--padding-horizontal);
  display: flex;
  align-items: flex-start;
}

.logo {
  position: relative;
  display: block;
  width: 140px;
  height: 64px;
  margin-right: 30px;
}

.logo__images {
  display: block;
  width: 140px;
  height: 70px;
}

.header__links {
  margin-left: auto;
}

.header__buttons {
  margin-left: 20px;
}

.header__button {
  display: block;
  margin: 14px 0;
}

/* навигация */
.nav {
  margin-right: 20px;
  max-width: 480px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav__link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* шапка мейна */
.header-index {
  padding: 51px var(--padding-horizontal) 82px;
  background-image: url("../images/bg-header__index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3e4b57;
  color: #ffffff;
  text-align: center;
}

.header-index__images {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* преимущества */
.advantages__section-header {
  margin-bottom: 21px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item:nth-child(odd) {
  background-color: var(--bg-secondary-2);
}

.advantages__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__images {
  display: block;
  width: 800px;
  height: 385px;
}

.advantages__item:nth-child(even) {
  background-color: var(--bg-secondary-1);
}

.advantages__list--photo .advantages__item--photo {
  background-color: var(--bg-button-secondary);
  color: #ffffff;
  display: flex;
}

.advantages__list--icon .advantages__item:nth-child(even) {
  background-color: transparent;
}

.advantages__item--photo p {
  color: inherit;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary);
}

/* кнопка на поиск */
.search {
  text-align: center;
  padding: 96px var(--padding-horizontal);
}

.search__section-header {
  padding: 0;
  margin-bottom: 54px;
}

.search__button {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
}

/* подвал */
.subscribe {
  text-align: center;
  padding: 96px var(--padding-horizontal) 104px;
}

.subscribe__section-header {
  padding: 0;
  margin-bottom: 54px;
}

.subscribe__form {
  width: 100%;
  max-width: 684px;
  margin: 0 auto;
  display: flex;
}

.subscribe__input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe__button {
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe--index {
  background-image: url("../images/bg-mailing__index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3e4b57;
  color: #ffffff;
}

.subscribe--index .subtitle {
  color: inherit;
}

.footer__grid {
  padding: 45px var(--padding-horizontal) 35px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--padding-horizontal);
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__contacts {
  text-align: center;
}

.footer__contacts-phone {
  color: inherit;
  text-decoration: none;
  font-size: 40px;
  line-height: 1;
}

.footer__partners {
  text-align: right;
}

.partners__link {
  display: block;
  width: fit-content;
}

.partners__link--htmlacademy img {
  width: 115px;
  height: 33px;
}

/* хлебные крошки */
.breadcrumb {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

/* фильтры */
.filter {
  padding: 0 var(--padding-horizontal);
  background-image: url("../images/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  background-color: #2a3c46;
}

/* каталог */
.catalog__header {
  padding: 0 var(--padding-horizontal);
  display: flex;
  align-items: flex-start;
  gap: var(--padding-horizontal);
}

.catalog__title {
  margin-right: auto;
}

.catalog__view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.catalog__list {
  margin: 0;
  padding: 0 var(--padding-horizontal);
  list-style-type: none;
}

/* карточки товара */
.card {
  padding: 0 20px;
}

.card__header {
  display: block;
  color: inherit;
  text-decoration: none;
}

.card__image {
  display: block;
  width: 300px;
  height: 212px;
}

.card__price {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary);
}

.card .button {
  padding-left: 25px;
  padding-right: 25px;
}

.card__star {
  background-color: var(--form-elements-2);
}

.card__rating {
  padding-left: 23px;
  padding-right: 22px;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-secondary);
  background-color: var(--form-elements-2);
  text-transform: uppercase;
}

/* пагинация */
.pagination {
  margin: 0;
  padding: 0 var(--padding-horizontal);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__link {
  display: block;
  padding: 0 16px;
  min-width: 60px;
  background-color: var(--bg-primary);
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.pagination__link[aria-current] {
  background-color: var(--form-elements-2);
  color: var(--text-primary);
}

span.pagination__link {
  background-color: transparent;
  color: var(--text-primary);
}
