:root {
  --font-primary: "PT Sans", sans-serif;
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-hover: #756157;
  --text-active: rgba(117, 97, 87, 30%);
  --text-error: #ff5757;
  --text-bg-default: #ffffff;

  --button-text: #ffffff;
  --button-text-hover: rgba(255, 255, 255, 30%);
  --bg-button-primary: #756157;
  --bg-button-primary-hover: #615048;
  --bg-button-secondary: #82b3d3;
  --bg-button-secondary-hover: #68a2ca;
  --bg-button-selected: #7db54f;
  --bg-button-selected-hover: #6c9e42;

  --bg-basic: #ffffff;
  --bg-primary: #82b3d3;
  --bg-secondary-1: rgba(131, 179, 211, 12%);
  --bg-secondary-2: rgba(131, 179, 211, 20%);

  --icon-basic: #000000;
  --icon-hover: #756157;
  --icon-active: rgba(117, 97, 87, 30%);
  --icon-secondary: #83b3d3;
  --icon-secondary-hover: #68a2ca;
  --icon-secondary-active: rgba(104, 162, 202, 30%);
  --icon-text: #7db54f;

  --form-inputs: #3f5e72;
  --form-elements-1: #e5e5e5;
  --form-elements-2: #f2f2f2;

  --padding-horizontal: 70px;

  --transition-duration: 150ms;
  --transition-function: ease-in-out;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* базовые стили */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-width: 1200px;
  font-family: var(--font-primary);
  color: var(--text-primary);
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(131, 179, 211, 20%);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.section-header {
  text-align: center;
  padding: 64px var(--padding-horizontal);
}

.block {
  display: block;
}

/* заголовки */
.title {
  margin-top: 0;
  font-weight: 700;
}

.title--big {
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}

.title--medium {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.title--small {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.title--small-nonecase {
  font-size: 24px;
  line-height: 28px;
}

.title--smaller {
  font-size: 20px;
  line-height: 24px;
}

.title--line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: currentColor;
  opacity: 30%;
}

.subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-secondary);
}

/* кнопки */
.button {
  min-width: 161px;
  padding: 8px 34px;
  box-sizing: border-box;
  color: var(--button-text);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--bg-button-primary);
  border-radius: 4px;
  border: 0;
  transition: background-color var(--transition-duration) var(--transition-function), color var(--transition-duration) var(--transition-function);
}

.button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--bg-button-primary-hover);
}

.button:not(:disabled):active {
  color: var(--button-text-hover);
}

.button--secondary {
  background-color: var(--bg-button-secondary);
}

.button--secondary:not(:disabled):hover {
  background-color: var(--bg-button-secondary-hover);
}

.button--selected {
  background-color: var(--bg-button-selected);
}

.button--selected:not(:disabled):hover {
  background-color: var(--bg-button-selected-hover);
}

.button--reset {
  background-color: transparent;
}

.form__input {
  border: 0;
  padding: 14px 20px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--form-elements-2);
  color: var(--text-primary);
  transition: background-color var(--transition-duration) var(--transition-function);
}

.form__input:not(:placeholder-shown):invalid {
  outline: auto;
  outline-color: var(--text-error);
  position: relative;
  z-index: 0;
}

.form__input:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.form__input:not(:disabled):hover {
  background-color: var(--form-elements-1);
}

.form__input:not(:disabled):focus {
  position: relative;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 60%);
  opacity: 1;
}

/* шапка сайта */
.header {
  padding: 0 var(--padding-horizontal);
  display: flex;
  align-items: flex-start;
}

.logo {
  position: relative;
  display: block;
  width: 140px;
  height: 64px;
  margin-right: 30px;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__images {
  display: block;
  width: 140px;
  height: 70px;
}

.header__links {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header__links-icon {
  position: relative;
  display: block;
  width: 44px;
  height: 64px;
  text-decoration: none;
  color: var(--icon-basic);
  transition: color var(--transition-duration) var(--transition-function);
}

.header__links-icon:hover {
  color: var(--text-hover);
}

.header__links-icon:active {
  color: var(--text-active);
}

.header__links-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: currentColor;
}

.header__links-icon--search::before {
  mask-image: url("../images/icons/search.svg");
}

.header__links-icon--heart::before {
  mask-image: url("../images/icons/heart.svg");
}

.header__links-number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 11px;
  right: 4px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 5px 4px;
  color: #ffffff;
  font-size: 10px;
  background-color: var(--icon-text);
  border-radius: 20px;
}

.header__buttons {
  margin-left: 20px;
}

.header__button {
  display: block;
  margin: 14px 0;
}

/* навигация */
.nav {
  margin-right: 20px;
  max-width: 480px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.nav__link {
  --padding-horizontal-link: 16px;
  display: block;
  padding: 20px var(--padding-horizontal-link);
  text-decoration: none;
  color: var(--text-primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  transition: color var(--transition-duration) var(--transition-function);
}

.nav__link:hover {
  color: var(--text-hover);
}

.nav__link:active {
  color: var(--text-active);
}

.nav__link[aria-current="page"] {
  position: relative;
}

.nav__link[aria-current="page"]::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: var(--padding-horizontal-link);
  right: var(--padding-horizontal-link);
  height: 2px;
  background-color: #756257;
}

/* шапка мейна */
.header-index {
  padding: 51px var(--padding-horizontal) 0;
  background-image: url("../images/bg-header__index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3e4b57;
  color: var(--text-bg-default);
  text-align: center;
}

.header-index::after {
  content: "";
  display: block;
  width: calc(100% + var(--padding-horizontal) * 2);
  height: 57px;
  margin-top: 25px;
  margin-left: calc(var(--padding-horizontal) * -1);
  background-image: url(../images/divider-header-index.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header-index__images {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* преимущества */
.advantages__section-header {
  margin-bottom: 21px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item:nth-child(odd) {
  background-color: var(--bg-secondary-2);
}

.advantages__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__card-icon::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--icon-secondary);
}

.advantages__card-icon--home::before {
  mask-image: url("../images/service-home.svg");
}

.advantages__card-icon--food::before {
  mask-image: url("../images/service-burger.svg");
}

.advantages__card-icon--gift::before {
  mask-image: url("../images/service-gift.svg");
}

.advantages__images {
  display: block;
  width: 800px;
  height: 385px;
}

.advantages__item:nth-child(even) {
  background-color: var(--bg-secondary-1);
}

.advantages__list--photo .advantages__item--photo {
  background-color: var(--bg-button-secondary);
  color: var(--text-bg-default);
  display: flex;
}

.advantages__list--icon .advantages__item:nth-child(even) {
  background-color: transparent;
}

.advantages__item--photo p {
  color: inherit;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary);
}

/* кнопка на поиск */
.search {
  text-align: center;
  padding: 96px var(--padding-horizontal);
}

.search__section-header {
  padding: 0;
  margin-bottom: 54px;
}

.search__button {
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  margin: 0 auto;
}

/* подвал */
.subscribe {
  text-align: center;
  padding: 96px var(--padding-horizontal) 104px;
}

.subscribe__section-header {
  padding: 0;
  margin-bottom: 54px;
}

.subscribe__form {
  width: 100%;
  max-width: 684px;
  margin: 0 auto;
  display: flex;
}

.subscribe__input {
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe__button {
  max-width: 300px;
  padding-left: 50px;
  padding-right: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe--index {
  background-image: url("../images/bg-mailing__index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #3e4b57;
  color: var(--text-bg-default);
}

.subscribe--index .subtitle {
  color: inherit;
}

.footer__grid {
  padding: 45px var(--padding-horizontal) 35px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: var(--padding-horizontal);
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-list__icon {
  display: block;
  width: 48px;
  height: 40px;
  color: var(--icon-secondary);
  transition: color var(--transition-duration) var(--transition-function);
}

.social-list__icon::before {
  content: "";
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: currentColor;
}

.social-list__icon:hover {
  color: var(--icon-secondary-hover);
}

.social-list__icon:active {
  color: var(--icon-secondary-active);
}

.social-list__icon--vk::before {
  mask-image: url("../images/social/vk.svg");
}

.social-list__icon--telegram::before {
  mask-image: url("../images/social/telegram.svg");
}

.social-list__icon--youtube::before {
  mask-image: url("../images/social/youtube.svg");
}

.footer__contacts {
  text-align: center;
}

.footer__contacts-phone {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 40px;
  line-height: 1;
  transition: color var(--transition-duration) var(--transition-function);
}

.footer__contacts-phone:hover {
  color: var(--text-hover);
}

.footer__contacts-phone:active {
  color: var(--text-active);
}

.footer__partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px;
}

.footer__partners-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: var(--icon-basic);
  transition: color var(--transition-duration) var(--transition-function);
}

.footer__partners-link:hover {
  color: var(--icon-hover);
}

.footer__partners-link:active {
  color: var(--icon-active);
}

.footer__partners-link-icon {
  fill: currentColor;
}

.partners__link--htmlacademy img {
  width: 115px;
  height: 33px;
}

/* хлебные крошки */
.breadcrumb {
  --breadcrumb-gap: 10px;
  padding: 0;
  margin: 0 0 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--breadcrumb-gap);
}

.breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: var(--breadcrumb-gap);
}

.breadcrumb__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 20px;
  background-color: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url("../images/icons/breadcrumbs-split.svg");
}

.breadcrumb__link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.breadcrumb__link[href]:hover {
  opacity: 70%;
}

.breadcrumb__link[href]:active {
  opacity: 30%;
}

.breadcrumb__link--home::before {
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/icons/breadcrumb-home.svg");
}

/* фильтры */
.filter {
  padding: 35px var(--padding-horizontal) 70px;
  background-image: url("../images/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2a3c46;
  color: var(--text-bg-default);
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--padding-horizontal);
}

.filter__group {
  display: grid;
  margin: 0;
  padding: 0;
  max-width: 200px;
  border: 0;
}

.filter__group--type_housing {
  margin-right: auto;
}

.filter__legend {
  padding: 0;
  margin-bottom: 32px;
}

.filter__label {
  display: flex;
  gap: 16px;
  font-size: 18px;
  line-height: 23px;
  transition: opacity var(--transition-duration) var(--transition-function);
}

.filter__label:has(:disabled) {
  opacity: 50%;
}

.filter__label:not(:has(:disabled)):hover {
  opacity: 60%;
}

.filter__label:not(:has(:disabled)):active {
  opacity: 30%;
}

.filter__label:not(:last-child) {
  margin-bottom: 16px;
}

.filter__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--bg-basic);
  color: var(--bg-basic);
}

.filter__checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 19px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url("../images/icons/checkbox-checked.svg");
  background-color: currentColor;
  transition: color var(--transition-duration) var(--transition-function);
}

.filter__checkbox:checked {
  color: var(--form-inputs);
}

.filter__radio {
  appearance: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-basic);
  color: var(--bg-basic);
}

.filter__radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
  transition: color var(--transition-duration) var(--transition-function);
}

.filter__radio:checked {
  color: var(--form-inputs);
}

.filter__group--price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 288px;
  max-width: none;
  gap: 2px;
}

.filter__legend--price {
  grid-column-start: 1;
  grid-column-end: -1;
}

.filter__price-label {
  position: relative;
}

.filter__input::-webkit-inner-spin-button,
.filter__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter__input {
  -moz-appearance: textfield;
}

.filter__input::placeholder {
  font-size: 17px;
}

.filter__input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  box-sizing: border-box;
  font-weight: 700;
}

.filter__input--min {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter__input--max {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.filter__price-text {
  position: absolute;
  left: 106px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 24px;
  color: var(--text-primary);
  opacity: 30%;
}

.filter__button-wrap {
  padding-top: 56px;
  display: grid;
  gap: 32px;
}

/* каталог */
.catalog__header {
  padding: 50px var(--padding-horizontal) 40px;
  display: flex;
  align-items: flex-start;
  gap: var(--padding-horizontal);
}

.catalog__title {
  margin-right: auto;
  margin-bottom: 0;
}

.catalog__select {
  min-width: 292px;
  height: 49px;
  padding: 14px 60px 14px 20px;
  box-sizing: border-box;
  background-color: var(--bg-basic);
  border: 1px solid var(--form-elements-1);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: inherit;
  appearance: none;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: right 20px center;
}

.catalog__view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.catalog__list {
  margin: 0 0 40px;
  padding: 0 var(--padding-horizontal);
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* карточки товара */
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 16px;
  align-items: start;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.card__image-wrap {
  display: block;
  color: inherit;
  text-decoration: none;
  grid-column: 1 / -1;
}

.card__image {
  display: block;
  width: 300px;
  height: 212px;
}

.card__title {
  display: block;
  margin: 0;
  color: var(--text-primary);
  grid-column: 1 / -1;
  text-decoration: none;
}

.card__price {
  margin: 0;
  grid-column: 1 / -1;
}

.card__price {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary);
}

.card__button {
  min-width: initial;
  padding-left: 15px;
  padding-right: 15px;
}

.card__star {
  background-color: var(--form-elements-2);
}

.card__rating {
  padding-top: 9px;
  padding-right: 22px;
  padding-bottom: 8px;
  padding-left: 23px;
  padding: 9px 20px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-secondary);
  background-color: var(--form-elements-2);
  text-transform: uppercase;
}

/* пагинация */
.pagination {
  margin: 0;
  padding: 0 var(--padding-horizontal);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__link {
  display: block;
  padding: 12px 16px;
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  color: var(--button-text);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

span.pagination__link {
  background-color: transparent;
}

.pagination__link[aria-current] {
  background-color: var(--form-elements-2);
  color: var(--text-primary);
}

span.pagination__link {
  background-color: transparent;
  color: var(--text-primary);
}
